<table class="table">
    <thead>
    <tr>
        <th width="20%">导入时间</th>
        <th width="50%">导入情况</th>
        <th width="20%">链接</th>
    </tr>
    </thead>
    <tbody>
    {{#each data.data}}
        <tr data-component="" data-id="{{id}}" data-data="{{json this}}">
            <td class="create-time">{{#formatDate createTime}}{{/formatDate}}</td>
            <td class="import-result">本次导入成功{{successNum}}条，
                                        导入重复{{#if repeatNum}}{{repeatNum}}{{else}}0{{/if}}条，
                                        导入失败{{#if failNum}}{{failNum}}{{else}}0{{/if}}条</td>

            <td class="href"><a href="{{../url}}/api/admin/report/excel?fileUrl=/smstemplate/temp/{{filePath}}">导入结果文件链接</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>