{{#component "mallRevocation js-component"}}
    <p class="components-title" xmlns="http://www.w3.org/1999/html"><strong>撤单管理</strong></p>
    <div class="tab-contents">
        <div data-role="content" class="tab-content">
            <form class="form form-aligned  form-inline">
                <fieldset>
                    <p class="filter-name">
                       <span class="span4 span-large">
								     <label>撤单类型：</label>
										<select class="form-control" name="returnType">
                                            <option value="">请选择</option>
                                            <option value="00" {{#equals returnType "00"}}selected{{/equals}}>供应商撤单
                                            </option>
                                            <option value="01" {{#equals returnType "01"}}selected{{/equals}}>用户撤单
                                            </option>
                                            <option value="02" {{#equals returnType "02"}}selected{{/equals}}>CC端撤单
                                            </option>
                                        </select>
                       </span>
					   <span class="span5 span-large">
					     <label for="createTime">申请撤单时间：</label>
								<input class="form-control js-date-start" value="{{startTime}}" type="text"
                                       name="startTime"/>-
                                 <input class="form-control js-date-end" value="{{endTime}}" type="text"
                                        name="endTime"/>
                       </span>
                    </p>
                    <p class="filter-name">
                           <span class="span4 span-large">
                               <label for="orderId">订单编号：</label>
                                    <input class="form-control" value="{{orderId}}" name="orderId" type="text">
                           </span>
						   <span class="span3 span-large pull-right">
									<label>&nbsp;</label>
                                <button class="btn btn-success btn-small" type="submit">查询</button>
						   </span>
                    </p>
                </fieldset>


            </form>

            <table class="table">
                <thead>
                <tr>
                    <th width="8%">撤单编号</th>
                    <th width="10%">撤单类型</th>
                    <th width="15%">订单编号</th>
                    <th width="11%">商品名称</th>
                    <th width="10%">供应商</th>
                    <th width="12%">买家</th>
                    <th width="12%">申请时间</th>
                    <th width="12%">操作</th>
                </tr>
                </thead>
                <tbody>
                {{#each _DATA_.data}}
                    <tr data-component="" data-id="{{orderId}}" data-data="{{json this}}">
                        <td>{{id}}</td>
                        <td>{{#equals returnType "00"}}供应商撤单{{/equals}}
                            {{#equals returnType "01"}}用户撤单{{/equals}}
                            {{#equals returnType "02"}}CC端撤单{{/equals}}
                        </td>
                        <td><a href="{{_HREF_.mainContext}}/mall/order/order_detail?id={{orderId}}" title="{{orderId}}">{{orderId}}</a></td>
                        <td><a href="" title="{{goodsName}}">{{goodsName}}</a></td>
                        <td>{{venderName}}</td>
                        <td>{{memberName}}</td>
                        <td>{{formatDate createTime "day"}}</td>
                        <td>
                            <button class="btn btn-sm js-revocation-detail">查看</button>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>


            <div class="pagination" data-total="{{_DATA_.total}}"></div>
        </div>
    </div>

{{/component}}