<div class="modal modal-card-new">
    <div class="modal-header"><a href="#" class="close">×</a>
        <h2>{{title}}</h2></div>
    <form class="form form-aligned card-form">
        <input type="hidden" name="id" value="{{data.id}}"/>
        <div class="modal-body">
            <div class="control-group">
                <label for="proCode">白金卡等级编码：</label>
                <input id="proCode" name="proCode"  data-id="{{data.id}}" maxlength="1" class="form-control js-proCode-check" type="text"
                       value="{{data.proCode}}" required
                    {{#equals title "编辑"}}readonly {{/equals}}/>
                <!-- <span class="note"><i>&times;</i> 必填 不得为空</span>-->
                <span class="note-error-empty"><i>&times;</i> 必填 不得为空</span>
            </div>
            <div class="control-group">
                <label for="proNm">白金卡等级名称：</label>
                <input id="proNm" name="proNm" class="form-control" type="text" value="{{data.proNm}}" maxlength="100" required/>
                <!--<span class="note"><i>&times;</i> 必填 不得为空</span>-->
                <span class="note-error-empty"><i>&times;</i> 必填 不得为空</span>
            </div>
        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-success btn-small js-card-confirm" value="保存">
            <button class="btn btn-info btn-small close">取消</button>
        </div>
    </form>
</div>