<div class="modal brands-modal">
    <div class="modal-header">
        <a href="#" class="close">×</a>
        <h2>{{title}}</h2>
    </div>
    <form class="form form-aligned brands-view-form" >
        <input type="hidden" name="id" value="{{data.id}}"/>
        <div class="modal-body">
            <div class="control-group">
                <label for="brandName">品牌名称：</label>
                <span>{{data.brandName}}</span>
            </div>
            <div class="control-group">
                <label>品牌分类：</label>
                <span>{{data.brandCategoryName}}</span>
            </div>
            <div class="control-group">
                <label for="brandImage">品牌图标：</label>
                {{#if data.brandImage}}
                <img src="{{data.brandImage}}" class="brand-img brandbigshow"/>
                <input name="brandImage" value="{{data.brandImage}}"type="hidden"/>
                {{else}}暂无图片{{/if}}
            </div>
            {{#if type}}
            {{!-审核品牌信息-}}
                <div class="control-group">
                    <label for="approveMemo">审核意见：</label>
                    <textarea name="approveMemo" id="descript" class="js-approve-memeo"  maxlength="100"></textarea>
                    <p class="remaining-text">您还可以输入<i>100</i>字</p>
                </div>
            {{else}}
            {{!-查看品牌信息-}}
                <div class="control-group">
                    <label for="brandInforStatus">审核状态：</label>
                    {{#equals data.brandInforStatus '00'}}
                        <span>待审核</span>
                    {{/equals}}
                    {{#equals data.brandInforStatus '01'}}
                        <span>审核通过</span>
                    {{/equals}}
                    {{#equals data.brandInforStatus '02'}}
                        <span>审核拒绝</span>
                    {{/equals}}
                </div>
                <div class="control-group">
                    <label for="approveMemo">审核意见：</label>
                    {{#if data.approveMemo}}
                        <span class="break">{{data.approveMemo}}</span>
                    {{else}}
                        <span>无</span>
                    {{/if}}
                </div>
            {{/if}}
        </div>
        <div class="modal-footer">
            {{#if type}}
                <button class="btn btn-success btn-small js-audit-pass" data-type="pass">通过</button>
                <button class="btn btn-success btn-small js-audit-reject" data-type="reject">拒绝</button>
                <button class="btn btn-close btn-small close">返回</button>
            {{else}}
                <button class="btn btn-close btn-small close">返回</button>
            {{/if}}
        </div>
    </form>
</div>