{{#each data}}
    <option class="redion-value" value="{{areaId}}" data-id="{{id}}" data-area-id="{{areaId}}" data-integ-id="{{integraltypeId}}"
            data-integ-name="{{integraltypeNm}}" data-cards="{{limitCards}}">{{name}}</option>
{{/each}}