<li class="recommend-li" data-code="{{itemModel.code}}">
    <a href="/mall/goods/{{itemModel.goodsCode}}?itemCode={{itemModel.code}}"><img src="{{itemModel.image1}}" class="img-width"></a>
    <div class="main-item-list-title">
        <a class="font-color-b" href="/mall/goods/{{itemModel.goodsCode}}?itemCode={{itemModel.code}}" title="{{itemDescription}}">{{itemDescription}}</a>
    </div>
    <a href="javascript:void(0)" class="btn btn-success btn-small js-recom-del">删除</a>
</li>